$primary-color: #add8e6;
$secondry-color:#9e9e9b;
$thirdry-color: #b0e0e6;
$forthry-color: #dcdcdc;
@media screen and (min-width: 751px) {
    header {
        margin: auto;
        width: 740px;
        .menu {
            position: fixed;
            p {
                text-align: center;
            }
            label {
                display: none;
            }
            ul {
                width: 740px;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                margin: 0;
                padding: 0;
                list-style: none;
                overflow: hidden;
                background: $primary-color;
            }
            li {
                padding: 5px;
                border-right: 2px solid $forthry-color;
                width: 150px;
                float: left;
                p {
                    margin: auto;
                    padding: auto;
                }
                &:hover {
                    background: $thirdry-color;
                }
            }
        }
        input[type="checkbox"].on-off {
            display: none;
        }
    }}