$font-stack : Helvetica,
sans-serif;
$primary-color: #add8e6;
$secondry-color:#f5f5dc;
$thirdy-color: #e0ffff;
$radius: 15px;
$font-color: #333;
@media screen and (min-width: 751px) {
    body {
        font: 100% $font-stack;
        background: $primary-color;
        color: $font-color;
        margin: auto;
    }
    .contents {
        background: $secondry-color;
        border-radius: $radius;
        margin: auto;
        padding: 20px 20px;
        width: 700px;
    }
    h1 {
        text-decoration: underline;
    }
    .floatList {
        list-style: none;
        overflow: hidden;
        margin: auto;
        li {
            float: left;
        }
    }
    .profileBlock {
        width: 700px;
    }
    @mixin profileBox($top, $bottom) {
        display: inline-block;
        width: 345px;
        p {
            text-align: center;
        }
        img {
            margin: $top 55px $bottom 55px;
            width: 260px;
            height: 260px;
        }
    }
    .profileRightBox {
        @include profileBox(0px, 30px);
    }
    .profileLeftBox {
        @include profileBox(30px, 0px);
    }
    p {
        font-weight: bold;
    }
    .textCenter {
        text-align: center;
    }}