$primary-color: #add8e6;
$secondry-color:#f5f5dc;
$thirdry-color: #b0e0e6;
$forthry-color: #dcdcdc;
$radius: 5px;
@media screen and (max-width: 750px) {
    header {
        .menu {
            width: 105%;
            margin-top: -8px;
            position: fixed;
            p {
                text-align: center;
            }
            label {
                background: $primary-color;
                display: block;
                border: 1px solid $secondry-color;
                height: 50px;
            }
            ul {
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
                margin: 0;
                padding: 0;
                list-style: none;
                width: 100%;
            }
            li {
                padding: 5px;
                background: $thirdry-color;
                border-bottom: 1px solid $secondry-color;
                border-right: 1px solid $secondry-color;
                border-left: 1px solid $secondry-color;
                height: 20px;
                p {
                    margin: auto;
                    padding: auto;
                }
                &:hover {
                    background: $forthry-color;
                }
            }
        }
        input[type="checkbox"].on-off {
            display: none;
        }
        input[type="checkbox"].on-off+ul {
            height: 0;
            overflow: hidden;
        }
        input[type="checkbox"].on-off:checked+ul {
            height: 100px;
        }    }}